html, body {
  height: 100%;
}

body {
  color: #445;
  font-size: 14px;
  line-height: 1.7;
}

.jumbotron {
  margin-bottom: 0;
  padding: 150px 0 110px 0;
  background-image: url('../images/flags.png');
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  opacity: 1;
  h1 {
    color: #334;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
  }
  p {
    color: #555;
    font-size: 20px;
  }
}

.section {
  .container {
    max-width: 650px;
    padding: 40px 0;
    text-align: center;
  }
}

.flow {
  background: #eee;
}

.slot {
  margin-top: 50px + 30px;
  .container {
    max-width: 800px;
    ul {
      padding-left: 0;
      list-style: none;
    }
    .slot-button {
      float: left;
      margin-right: 20px;
      width: 150px;
      height: 150px;
      background: #eee;
      border: 1px solid #ddd;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

$width: 280px;
.content {
  .container {
    position: relative;
    max-width: 800px;
    h2, p {
      margin-left: $width + 20px;
    }
    h2 {
      margin-top: 0;
    }
    .flag {
      position: absolute;
      top: 0;
      left: 0;
      width: $width;
      height: $width * 0.8;
    }
  }
}

.buttons {
  .container {
    max-width: 800px;
    .reload {
      display: none;
    }
  }
}


.about {
  .container {
    margin-top: 70px;
    max-width: 800px;
    th {
      width: 100px;
    }
  }
}

.footer {
  padding: 40px 0;
  background: #345;
  text-align: center;
  small {
    color: #9ab;
    font-size: 1.2rem;
  }
}

