@import '../../bower_components/pagePiling.js/jquery.pagepiling.css';
.choices-flag {
    &:hover {
        cursor: pointer;
    }
}
h1,
h2,
p {
    color: white;
}
p {
    size: 2rem;
}
.img-responsive {
    margin: 20px auto;
    height: 150px;
}
.choices-flag {
    transition: 0.5s;
    &:hover {
        -moz-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  -o-transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
        transition: 0.5s;
    }
}
.choices-btn {
    margin: 10px;
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    &:hover,
    &:active {
        background-color: #fff;
        color: #000;
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
    }
}
